body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input, textarea, button {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #007bff;
  color: white;
  width:96%;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
}
